.status {
  float: left;
  bottom: -12px;
  position: relative;

  cursor: default;
  color: #a09b8c;
  opacity: 0.5;
  transition: opacity .1s ease-in-out;
  text-decoration: none;
}

.status:hover {
  opacity: 1;
  color: #a09b8c;
  text-decoration: none;
}
