.version {
  float: right;
  cursor: default;
  color: #a09b8c;
  opacity: 0.5;
  transition: opacity .1s ease-in-out;
  text-decoration: none;
  bottom: -15px;
  right: 15px;
  position: relative;
}

.version:hover {
  opacity: 1;
  color: #a09b8c;
  text-decoration: none;
}
