#connection {
  position: absolute;
  width: 6%;
  bottom: 5px;
  left: 120px;
  z-index: 500;
  animation: 1s infinite alternate flickerbrightness;
}

@keyframes flickerbrightness {
    0%   {
        filter: brightness(0);
    }
    100% {
        filter: brightness(1);
    }
}
