.dropdown {
  display: inline-block;
  position: relative;
  cursor: pointer;
  width: 55%;
  font-family: 'beaufort-bold', sans-serif;
  color: rgb(62.7%, 60.8%, 54.9%);
  letter-spacing: 0.025rem;
  outline: none;
  padding: 10px 14px;
  background-color: rgba(30, 35, 40, 0.5);
  border: 1px solid transparent;
  border-image: linear-gradient(to top, #695625 0%, #A9852D 23%, #B88D35 93%, #C8AA6E 100%) 1;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  box-sizing: border-box;
  -webkit-appearance: none;
}

.dropdown.xs {
  width: 15%;
}

.dropdown.sm {
  width: 20%;
}

.dropdown.big {
  width: 72%;
}

.dropdown:active {
  background: rgba(30, 35, 40, 0.5);
  color: #463714;
  border: 1px solid #463714;
}

.dropdown:focus {
  background: linear-gradient(to top, rgba(88, 83, 66, 0.5), rgba(30, 35, 40, 0.5));
  border: 1px solid transparent;
  border-image: linear-gradient(to top, #c89b3c, #f0e6d2) 1;
}

.dropdown option {
  position: relative;
  color: #cdbe91;
  cursor: pointer;
  padding: 9px;
  border-top: 1px solid #1f2123;
  text-overflow: ellipsis;
  white-space: nowrap;
  background: #010a13;
  -o-border-image: linear-gradient(0deg, #695625, #463714) 1;
  border-image: -webkit-linear-gradient(bottom, #695625, #463714) 1;
  border-image: linear-gradient(0deg, #695625, #463714) 1;
  font-size: 13px;
  height: 20px;
}

.dropdown option:hover {
  background-color: #fff;
}

.dropdown option:disabled {
  color: #756c53;
}
