.version {
  position: fixed;
  bottom: 15px;
  right: 15px;
  cursor: default;
  margin: 0px;
  color: #a09b8c;
  opacity: 0.5;
  transition: opacity .1s ease-in-out;
  text-decoration: none;
}

.version:hover {
  opacity: 1;
  color: #dfe6e9;
  text-decoration: none;
}
