.title {
  text-align: center;
}

h1 {
  font-weight: 100;
  font-size: 59px;
  margin-bottom: 5px;
  color: #dfe6e9;
}

body {
  background-color: #1B1C1D;
}

#nav {
  -webkit-app-region: drag;
}

#nav > .item, .menu {
  -webkit-app-region: no-drag;
}
