.dot:hover {
  cursor: pointer;
  background-clip: unset;
  background-color: #cdbe91 !important;
}

.dot {
  height: 6px;
  width: 6px;
  padding: 2px;
  border: 2px solid #675229;
  border-radius: 50%;
  background-clip: content-box;
  display: inline-block;
}

.dot.selected {
  background-color: #675229;
}

#dots {
  top: 80px;
  left: 45%;
  z-index: 500;
  position: absolute;
}

#dots > * {
  display: inline-block;
  margin: 0 5px;
}
