hr {
  width: 100%;
  height: 36px;
  background-image: url(../../img/hr.png);
  border: 0px;
  display: block;
}

hr.break {
  margin: 0 0 0 -56px;
}

hr.break:hover {
  animation: brightness 0.3s linear 0s 1 forwards;
}

@keyframes brightness {
  0% {
    filter: brightness(1);
  }

  100% {
    filter: brightness(1.8);
  }
}
