input[type="range"] {
    -webkit-appearance: none;  /* Override default CSS styles */
    width: 80%;
    height: 2px;
    background: linear-gradient(to left, #a9852d, #dad55e);
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

input[type="range"]:hover {
  opacity: 1;
}

input[type="range"]:disabled {
  opacity: 0.4;
}

input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;  /* Override default CSS styles */
    width: 25px;
    height: 25px;
    background-image: url(../../img/components/slider-btn.png);
    background-size: 100% auto;
    background-position-y: 240;
    cursor: pointer;
}

input[type="range"]:disabled::-webkit-slider-thumb {
  cursor: default;
}
