@font-face {
  font-family: "beaufort-bold";
  src: url("../fonts/Beaufort Bold.ttf");
}

@font-face {
  font-family: "beaufort-regular";
  src: url("../fonts/Beaufort.ttf");
}

@font-face {
  font-family: "spiegel";
  src: url("../fonts/Spiegel Regular.ttf");
}

body {
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  /* font-family: 'Patua One', cursive; */
  font-family: "beaufort-bold";
  text-transform: uppercase;
  margin: 0 auto;
  /* text-align: center; */
  position: fixed;
  width: 100%;
  user-select: none;
}

.championPortrait {
  top: 0;
  z-index: 2;
  width: 211px;
  height: 246px;
  margin-top: 12%;
  margin-left: 34%;
  position: absolute;
}

@keyframes hextechRotation {
  from {
      transform: translateZ(0) rotate(10deg);
  }
  to {
      transform: translateZ(0) rotate(40deg);
  }
}

.championPortrait > #champion {
  position: absolute;
  margin-left: 22%;
  border-radius: 110px;
  margin-top: 23%;
  z-index: -1;
}

.championPortrait > #bg {
  z-index: 1;
  margin-left: -1%;
  will-change: transform;
  animation: hextechRotation 10s ease-in-out alternate infinite;
}

#warning {
  position: absolute;
  margin-top: 32px;
  margin-left: 15px;
}

.checkboxContainer {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  margin-bottom: 16px;
  position: relative;
}

label {
  color: #c4b998;
  font-family: "beaufort-bold", sans-serif;
}

.option-name {
  color: #f0e6d2;
  font-size: 25px;
  margin-bottom: 10px;
}

.suboption-name {
  font-size: 16px;
  color: #cdbe91;
  margin-bottom: 5px;
  margin-left: 2px;
}

.title {
  text-align: center;
}

h1 {
  color: #fff;
  font-weight: 100;
  font-size: 59px;
  margin-bottom: 5px;
}

hr {
  width: 350px;
  margin-top: 40px;
  margin-bottom: 40px;
  border: 1px solid #cdbe91;
}

.tier {
  width: 150px !important;
}

.division {
  width: 50px !important;
  margin-top: 3px;
}

.left {
  float: left;
  margin: 2px;
}

.center {
  text-align: center;
}

.center-area {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 3px;
}

.end {
  margin-bottom: 50px;
}

.controls {
  color: #fff;
  float: right;
  margin-right: 5px;
  margin-top: -70px;
  -webkit-app-region: no-drag;
}

.version {
  position: fixed;
  bottom: 15px;
  right: 15px;
  cursor: default;
  margin: 0px;
  color: #a09b8c;
  opacity: 0.5;
  transition: opacity .1s ease-in-out;
  text-decoration: none;
}

.status {
  position: fixed;
  bottom: 15px;
  left: 15px;
  cursor: default;
  margin: 0px;
  color: #a09b8c;
  opacity: 0.5;
  transition: opacity .1s ease-in-out;
  text-decoration: none;
}

.version-tag:hover {
  opacity: 1;
  color: #a09b8c;
  text-decoration: none;
}

.icon {
  font-size: 20px !important;
}

/* Style the buttons that are used to open the tab content */

.controls button {
  background-color: transparent;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 4px 4px;
  transition: 0.3s;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  font-size: 8px;
  margin-left: 10px;
}

/* Change background color of buttons on hover */

.controls button:hover {
  color: #f0e6d2;
  border: none;
  outline: none;
  cursor: pointer;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}

/* Create an active/current tablink class */

.controls button.active {
  color: #f0e6d2;
}

/*
    SCROLL BAR
*/

::-webkit-scrollbar {
  width: 7px;
  border-radius: 5px;
}

::-webkit-scrollbar * {
  background: transparent;
}

::-webkit-scrollbar-track-piece:start {
  background: transparent;
}

::-webkit-scrollbar-track-piece:end {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: #9b722c;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #d4b373;
}

/*
    BUTTONS
*/

@keyframes flash {
  0% {
    color: #CDBE91;
  }

  100% {
    color: #F0E6D2;
  }
}

.flash {
  animation: flash 0.3s alternate infinite;
}

button {
  display: inline-block;
  position: relative;
  font-family: 'beaufort-bold', cursive;
  /* font-family: 'Beaufort', 'Times New Roman', serif; */
  text-transform: uppercase;
  color: #CDBE91;
  font-weight: 100;
  letter-spacing: 1px;
  white-space: nowrap;
  padding: 9px 21px;
  cursor: pointer;
  box-shadow: 0 0 1px 1px #010A13, inset 0 0 1px 1px #010A13;
  background: #1E2328;
  border: 2px solid transparent;
  border-image: linear-gradient(to top, #785B28 0%, #C89C3C 55%, #C8A355 71%, #C8AA6E 100%);
  border-image-slice: 1;
  transition: opacity 300ms linear;
  margin-top: 5px;
  transition: color 100ms linear;
}

button:hover {
  color: #F0E6D2;
  border: 2px solid transparent;
  border-image: linear-gradient(to top, rgb(78.4%, 61.2%, 23.5%) 0%, rgb(86.3%, 75.7%, 53.3%) 50%, rgb(88.2%, 78.8%, 59.6%) 71%, rgb(94.1%, 90.2%, 84.7%) 100%);
  border-image-slice: 1;
  box-shadow: 0px 0px 13px 0px rgba(205, 190, 145, 0.39);
  transition: color 100ms linear;
  /* filter: blur(4px); */
}

button:active {
  color: #E4E1D8;
  border-image: linear-gradient(to top, #FFFFFF 0%, #FFFFFF 33%, #FFFFFF 66%, #FFFFFF 100%);
  border-image-slice: 1;
  color: #5C5B57;
  transition: color 100ms linear;
  animation: none;
}

button:focus {
  outline: 0;
}

button:after {
  transition: all 0.8s
}

/*
* TEXT CONTAINER
*/

.textcontainer {
  font-family: 'Open Sans', sans-serif;
  resize: none;
  padding: 10px 10px;
  color: rgb(62.7%, 60.8%, 54.9%);
  display: block;
  box-sizing: border-box;
  border: 1px solid #785A28;
  background-color: rgba(0, 0, 0, 0.7);
  outline: none;
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.25) inset, 0 0 0 1px rgba(0, 0, 0, 0.25);
}

.textcontainer:focus {
  background: linear-gradient(to bottom, rgba(7, 16, 25, 0.7), rgba(32, 39, 44, 0.7));
  border-image: linear-gradient(to bottom, #785a28, #c8aa6e) 1 stretch;
}

.textcontainer:disabled {
  color: rgba(230, 33, 66, 0.7) !important;
  border: 1px solid rgba(230, 33, 66, 0.7);
}

/*
    TEXT FIELDS
*/

textarea {
  overflow: hidden;
  white-space: nowrap;
  resize: none;
  font-family: 'Open Sans', sans-serif;
  padding: 10px 10px;
  color: rgb(62.7%, 60.8%, 54.9%);
  display: block;
  box-sizing: border-box;
  border: 1px solid #785A28;
  background-color: rgba(0, 0, 0, 0.7);
  outline: none;
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.25) inset, 0 0 0 1px rgba(0, 0, 0, 0.25);
}

textarea:focus {
  background: linear-gradient(to bottom, rgba(7, 16, 25, 0.7), rgba(32, 39, 44, 0.7));
  border-image: linear-gradient(to bottom, #785a28, #c8aa6e) 1 stretch;
}

textarea:disabled {
  color: rgba(230, 33, 66, 0.7) !important;
  border: 1px solid rgba(230, 33, 66, 0.7);
}

/*
    DROPDOWNS
*/

.dropdown {
  display: inline-block;
  position: relative;
  cursor: pointer;
  width: 200px;
  font-family: 'beaufort-bold', sans-serif;
  color: rgb(62.7%, 60.8%, 54.9%);
  ;
  letter-spacing: 0.025rem;
  outline: none;
  padding: 10px 14px;
  background-color: rgba(30, 35, 40, 0.5);
  border: 1px solid transparent;
  border-image: linear-gradient(to top, #695625 0%, #A9852D 23%, #B88D35 93%, #C8AA6E 100%) 1;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-appearance: none;
  -moz-appearance: none;
}

.dropdown:active {
  background: rgba(30, 35, 40, 0.5);
  color: #463714;
  border: 1px solid #463714;
}

.dropdown:focus {
  background: linear-gradient(to top, rgba(88, 83, 66, 0.5), rgba(30, 35, 40, 0.5));
  border: 1px solid transparent;
  border-image: linear-gradient(to top, #c89b3c, #f0e6d2) 1;
}

.dropdown option {
  position: relative;
  color: #cdbe91;
  cursor: pointer;
  padding: 9px;
  border-top: 1px solid #1f2123;
  text-overflow: ellipsis;
  white-space: nowrap;
  background: #010a13;
  -o-border-image: linear-gradient(0deg, #695625, #463714) 1;
  border-image: -webkit-linear-gradient(bottom, #695625, #463714) 1;
  border-image: linear-gradient(0deg, #695625, #463714) 1;
  font-size: 13px;
  height: 20px;
}

.dropdown option:hover {
  background-color: #fff;
}

.dropdown option:disabled {
  color: #756c53;
}

/*
    SECTIONS
*/

.sections {
  margin-bottom: 100px;
}

/* Style the tab */

.tab-container {
  position: fixed;
  top: 0px;
  margin: 0px auto;
  width: 100%;
  height: 12.8333333%;
  border-top: 2px solid #735828;
  border-bottom: 1px solid rgba(255, 255, 255, 0.4);
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.65) 0%, rgba(0, 0, 0, 0) 80%);
  -webkit-app-region: drag;
}

.tab {
  margin: 0px auto;
  margin-top: 10px;
  margin-left: 15px;
  overflow: hidden;
}

.selected {
  position: absolute;
  left: -10px;
  width: 5%;
  height: auto;
}

/* Style the buttons that are used to open the tab content */

.tab button {
  background-color: transparent;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  font-size: 25px;
  margin-left: 28px;
  -webkit-app-region: no-drag;
}

.tab button::before {
  top: -2px;
  height: 16px;
  background: url(assets/img/selected.png) no-repeat center;
}

.tab button::after {
  bottom: -1px !important;
  height: 1px !important;
  width: 100% !important;
  background: rgba(242,233,218,0.5) !important;
}

/* Change background color of buttons on hover */

.tab button:hover {
  color: #f0e6d2;
}

/* Create an active/current tablink class */

.tab button.active {
  color: #f0e6d2;
}

/* Style the tab content */

.tabcontent {
  border-top: none;
  margin-top: 115px;
}

.box {
  float: right;
  width: 950px;
  height: 593px;
  overflow-y: scroll;
  margin-right: 10px;
}

.info {
  position: absolute;
  margin-left: 35px;
  margin-top: 25px;
}

.float-left {
  float: left;
  margin-right: 5px;
}

.option {
  margin-bottom: 25px;
  min-width: 50%;
  float: left;
}

.summonericon {
  border-radius: 50%;
  width: 140px;
  height: 140px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.icon-box {
  position: absolute;
  top: 23px;
  width: 248px;
  height: 140px;
}

.offset {
  margin-top: 25px !important;
}

.info-bp {
  text-align: center;
  margin-top: -10px;
  font-size: 15px;
  color: #f0e6d2;
  margin-bottom: 10px;
}

.info-status {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.info-name {
  text-align: center;
  margin-top: -165px;
  font-size: 25px;
  color: #f0e6d2;
  margin-bottom: 0px;
}

.level-badge {
  /* top: 155px; */
  /* left: 88px; */
  display: block;
  margin-left: auto;
  margin-right: auto
}

.level-level {
  margin: 0px;
  margin-top: -27px;
  text-align: center;
  font-size: 15px;
  color: #f0e6d2;
  /* margin-top: -204px; */
}

.level-box {
  position: absolute;
  top: 155px;
  width: 246px;
  height: 25px;
}

/*
    CHECKBOXES
*/

.options {
  font-family: 'beaufort-bold';
  text-transform: none;
  margin: 10px;
  margin-left: 0px;
  color: #a09b8c;
}

.options:hover {
  color: #ceccc4;
}

.warning {
  /* box-shadow: 0px 0px 13px -1px rgba(230,33,66,0.7); */
  color: rgba(230, 33, 66, 0.7) !important;
  border: 1px solid rgba(230, 33, 66, 0.7);
}

.warning:hover {
  /* box-shadow: 0px 0px 13px -1px rgba(230,33,66,0.7); */
  color: rgba(230, 33, 66, 0.7) !important;
  border: 1px solid rgba(230, 33, 66, 0.7);
}

.warning-sign {
  position: fixed;
  margin-top: 7px;
  margin-left: 5px;
}
