@font-face {
  font-family: "beaufort-bold";
  src: url("../fonts/Beaufort Bold.ttf");
}

@font-face {
  font-family: "beaufort-regular";
  src: url("../fonts/Beaufort.ttf");
}

@font-face {
  font-family: "spiegel";
  src: url("../fonts/Spiegel Regular.ttf");
}

body {
  font-family: "beaufort-bold";
  text-transform: uppercase;
  margin: 0 auto;
  position: fixed;
  width: 100%;
  user-select: none;
}

#buttons {
  position: fixed;
  bottom: 50px;
  width: 100%;
}

.sortable {
  list-style: disc inside;
  width: 100%;
  margin: 0;
  padding: 0;
}

.sortable-button {
  font-weight: normal !important;
  color: #cdbe91 !important;
  cursor: pointer !important;
  padding: 9px !important;
  border-top: 1px solid #1f2123 !important;
  text-overflow: ellipsis !important;
  white-space: nowrap !important;
  height: 20px !important;
  margin-top: 5px !important;
  background-color: rgba(30, 35, 40, 0.5) !important;
  border: 1px solid transparent !important;
  border-image: linear-gradient(to top, #695625 0%, #A9852D 23%, #B88D35 93%, #C8AA6E 100%) 1 !important;
  max-width: 80% !important;
}

#nav-menu {
  margin-top: -40px;
  margin-left: 15px;
  -webkit-app-region: no-drag;
}

.alertify-notifier {
  color: #ffffff !important;
  font-size: 12px;
}

.championPortrait {
  top: 0;
  z-index: 2;
  width: 211px;
  height: 246px;
  margin-top: 12%;
  margin-left: 34%;
  position: absolute;
}

@keyframes hextechRotation {
  from {
      transform: translateZ(0) rotate(10deg);
  }
  to {
      transform: translateZ(0) rotate(40deg);
  }
}

.championPortrait > #champion {
  width: 128px;
  height: 128px;
  z-index: -1;
  margin-left: 22%;
  margin-top: 23%;
  position: absolute;
  border-radius: 110px;
}

.championPortrait > #hextechAnimationBackground {
  z-index: 1;
  margin-left: -1%;
  will-change: transform;
}

#championName {
  font-size: 25px;
  color: #b71540;
  margin-top: -17%;
  margin-left: 2%;
  text-align: center;
}

.title {
  text-align: center;
}

h1 {
  color: #fff;
  font-weight: 100;
  font-size: 59px;
  margin-bottom: 5px;
}

.tier {
  width: 150px !important;
}

.division {
  width: 50px !important;
  margin-top: 3px;
}

.left {
  float: left;
  margin: 2px;
}

.center {
  text-align: center;
}

.center-area {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 3px;
}

.end {
  margin-bottom: 50px;
}

.controls {
  color: #fff;
  float: right;
  margin-right: 5px;
  margin-top: -70px;
  -webkit-app-region: no-drag;
}

.icon {
  font-size: 20px !important;
}

/*
    SCROLL BAR
*/

::-webkit-scrollbar {
  width: 7px;
  border-radius: 5px;
}

::-webkit-scrollbar * {
  background: transparent;
}

::-webkit-scrollbar-track-piece:start {
  background: transparent;
}

::-webkit-scrollbar-track-piece:end {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: #9b722c;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #d4b373;
}

/*
* TEXT CONTAINER
*/

.textcontainer {
  font-family: 'Open Sans', sans-serif;
  resize: none;
  padding: 10px 10px;
  color: rgb(62.7%, 60.8%, 54.9%);
  display: block;
  box-sizing: border-box;
  border: 1px solid #785A28;
  background-color: rgba(0, 0, 0, 0.7);
  outline: none;
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.25) inset, 0 0 0 1px rgba(0, 0, 0, 0.25);
}

.textcontainer:focus {
  background: linear-gradient(to bottom, rgba(7, 16, 25, 0.7), rgba(32, 39, 44, 0.7));
  border-image: linear-gradient(to bottom, #785a28, #c8aa6e) 1 stretch;
}

.textcontainer:disabled {
  color: rgba(230, 33, 66, 0.7) !important;
  border: 1px solid rgba(230, 33, 66, 0.7);
}

/*
    TEXT FIELDS
*/

textarea {
  overflow: hidden;
  white-space: nowrap;
  resize: none;
  font-family: 'Open Sans', sans-serif;
  padding: 10px 10px;
  color: rgb(62.7%, 60.8%, 54.9%);
  display: block;
  box-sizing: border-box;
  border: 1px solid #785A28;
  background-color: rgba(0, 0, 0, 0.7);
  outline: none;
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.25) inset, 0 0 0 1px rgba(0, 0, 0, 0.25);
}

textarea:focus {
  background: linear-gradient(to bottom, rgba(7, 16, 25, 0.7), rgba(32, 39, 44, 0.7));
  border-image: linear-gradient(to bottom, #785a28, #c8aa6e) 1 stretch;
}

textarea:disabled {
  color: rgba(230, 33, 66, 0.7) !important;
  border: 1px solid rgba(230, 33, 66, 0.7);
}

/*
    DROPDOWNS
*/

.dropdown {
  display: inline-block;
  position: relative;
  cursor: pointer;
  width: 72%;
  font-family: 'beaufort-bold', sans-serif;
  color: rgb(62.7%, 60.8%, 54.9%);
  letter-spacing: 0.025rem;
  outline: none;
  padding: 10px 14px;
  background-color: rgba(30, 35, 40, 0.5);
  border: 1px solid transparent;
  border-image: linear-gradient(to top, #695625 0%, #A9852D 23%, #B88D35 93%, #C8AA6E 100%) 1;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  box-sizing: border-box;
  -webkit-appearance: none;
}

.dropdown:active {
  background: rgba(30, 35, 40, 0.5);
  color: #463714;
  border: 1px solid #463714;
}

.dropdown:focus {
  background: linear-gradient(to top, rgba(88, 83, 66, 0.5), rgba(30, 35, 40, 0.5));
  border: 1px solid transparent;
  border-image: linear-gradient(to top, #c89b3c, #f0e6d2) 1;
}

.dropdown option {
  position: relative;
  color: #cdbe91;
  cursor: pointer;
  padding: 9px;
  border-top: 1px solid #1f2123;
  text-overflow: ellipsis;
  white-space: nowrap;
  background: #010a13;
  -o-border-image: linear-gradient(0deg, #695625, #463714) 1;
  border-image: -webkit-linear-gradient(bottom, #695625, #463714) 1;
  border-image: linear-gradient(0deg, #695625, #463714) 1;
  font-size: 13px;
  height: 20px;
}

.dropdown option:hover {
  background-color: #fff;
}

.dropdown option:disabled {
  color: #756c53;
}

/*
    SECTIONS
*/

.sections {
  margin-bottom: 100px;
}

/* Style the tab */

.tab-container {
  position: fixed;
  top: 0px;
  margin: 0px auto;
  width: 100%;
  height: 12.8333333%;
  border-top: 2px solid #735828;
  /*border-bottom: 1px solid rgba(255, 255, 255, 0.4);*/
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.65) 0%, rgba(0, 0, 0, 0) 80%);
  -webkit-app-region: drag;
}

.tab {
  margin: 0px auto;
  margin-top: 10px;
  margin-left: 15px;
  overflow: hidden;
}

#selected {
  position: absolute;
  width: 5%;
  height: auto;
}

/* Style the tab content */

.tabcontent {
  border-top: none;
  margin-top: 115px;
}

.box {
  float: right;
  width: 950px;
  height: 593px;
  overflow-y: scroll;
  margin-right: 10px;
}

.info {
  position: absolute;
  margin-left: 35px;
  margin-top: 25px;
}

.float-left {
  float: left;
  margin-right: 5px;
}

.summonericon {
  border-radius: 50%;
  width: 140px;
  height: 140px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.icon-box {
  position: absolute;
  top: 23px;
  width: 248px;
  height: 140px;
}

.offset {
  margin-top: 25px !important;
}

.info-bp {
  text-align: center;
  margin-top: -10px;
  font-size: 15px;
  color: #f0e6d2;
  margin-bottom: 10px;
}

.info-status {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.info-name {
  text-align: center;
  margin-top: -165px;
  font-size: 25px;
  color: #f0e6d2;
  margin-bottom: 0px;
}

.level-badge {
  /* top: 155px; */
  /* left: 88px; */
  display: block;
  margin-left: auto;
  margin-right: auto
}

.level-level {
  margin: 0px;
  margin-top: -27px;
  text-align: center;
  font-size: 15px;
  color: #f0e6d2;
  /* margin-top: -204px; */
}

.level-box {
  position: absolute;
  top: 155px;
  width: 246px;
  height: 25px;
}

/*
    CHECKBOXES
*/

.options {
  font-family: 'beaufort-bold';
  text-transform: none;
  margin: 10px;
  margin-left: 0px;
  color: #a09b8c;
}

.options:hover {
  color: #ceccc4;
}

.warning {
  /* box-shadow: 0px 0px 13px -1px rgba(230,33,66,0.7); */
  color: rgba(230, 33, 66, 0.7) !important;
  border: 1px solid rgba(230, 33, 66, 0.7);
}

.warning:hover {
  /* box-shadow: 0px 0px 13px -1px rgba(230,33,66,0.7); */
  color: rgba(230, 33, 66, 0.7) !important;
  border: 1px solid rgba(230, 33, 66, 0.7);
}

.warning-sign {
  position: fixed;
  margin-top: 7px;
  margin-left: 5px;
}
