@font-face {
  font-family: "beaufort-bold";
  src: url("../fonts/Beaufort Bold.ttf");
}

@font-face {
  font-family: "beaufort-regular";
  src: url("../fonts/Beaufort.ttf");
}

@font-face {
  font-family: "spiegel";
  src: url("../fonts/Spiegel Regular.ttf");
}

body {
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  font-family: "beaufort-bold";
  text-transform: uppercase;
  margin: 0 auto;
  position: fixed;
  width: 100%;
  user-select: none;
}

.icon {
  font-size: 20px !important;
  color: #CDBE91;
}

.tab-container {
  position: fixed;
  top: 0px;
  margin: 0px auto;
  width: 100%;
  height: 12.8333333%;
  border-top: 2px solid #735828;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.65) 0%, rgba(0, 0, 0, 0) 80%);
  -webkit-app-region: drag;
}

.controls {
  color: #fff;
  float: right;
  margin-right: 5px;
  margin-top: -70px;
  -webkit-app-region: no-drag;
}
