@font-face {
  font-family: "beaufort-bold";
  src: url("../fonts/Beaufort Bold.ttf");
}

@font-face {
  font-family: "beaufort-regular";
  src: url("../fonts/Beaufort.ttf");
}

@font-face {
  font-family: "spiegel";
  src: url("../fonts/Spiegel Regular.ttf");
}

body {
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  font-family: "beaufort-bold";
  text-transform: uppercase;
  margin: 0 auto;
  position: fixed;
  width: 100%;
  user-select: none;
}

.buttons {
  position: fixed;
  margin-left: 130px;
  margin-top: 5px;
  max-width: 230px;
}

.champion {
  float: left;
  width: auto;
  height: 100%;
}

.icon {
  font-size: 20px !important;
  color: #CDBE91;
}

.tab-container {
  position: fixed;
  top: 0px;
  margin: 0px auto;
  width: 100%;
  height: 12.8333333%;
  border-top: 2px solid #735828;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.65) 0%, rgba(0, 0, 0, 0) 80%);
  -webkit-app-region: drag;
  z-index: 1;
}

.controls {
  color: #fff;
  float: right;
  margin-right: 5px;
  -webkit-app-region: no-drag;
}

.controls button {
  background-color: transparent;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 4px 4px;
  transition: 0.3s;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  font-size: 8px;
  margin-left: 10px;
}

.controls button:hover {
  color: #f0e6d2;
  border: none;
  outline: none;
  cursor: pointer;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}

button {
  display: inline-block;
  position: relative;
  font-family: 'beaufort-bold', cursive;
  /* font-family: 'Beaufort', 'Times New Roman', serif; */
  text-transform: uppercase;
  color: #CDBE91;
  font-weight: 100;
  letter-spacing: 1px;
  white-space: nowrap;
  padding: 9px 21px;
  cursor: pointer;
  box-shadow: 0 0 1px 1px #010A13, inset 0 0 1px 1px #010A13;
  background: #1E2328;
  border: 2px solid transparent;
  border-image: linear-gradient(to top, #785B28 0%, #C89C3C 55%, #C8A355 71%, #C8AA6E 100%);
  border-image-slice: 1;
  transition: opacity 300ms linear;
  margin-top: 5px;
  transition: color 100ms linear;
}

button:hover {
  color: #F0E6D2;
  border: 2px solid transparent;
  border-image: linear-gradient(to top, rgb(78.4%, 61.2%, 23.5%) 0%, rgb(86.3%, 75.7%, 53.3%) 50%, rgb(88.2%, 78.8%, 59.6%) 71%, rgb(94.1%, 90.2%, 84.7%) 100%);
  border-image-slice: 1;
  box-shadow: 0px 0px 13px 0px rgba(205, 190, 145, 0.39);
  transition: color 100ms linear;
  /* filter: blur(4px); */
}

button:active {
  color: #E4E1D8;
  border-image: linear-gradient(to top, #FFFFFF 0%, #FFFFFF 33%, #FFFFFF 66%, #FFFFFF 100%);
  border-image-slice: 1;
  color: #5C5B57;
  transition: color 100ms linear;
  animation: none;
}

button:focus {
  outline: 0;
}

button:after {
  transition: all 0.8s
}
