<html>
<head>
  <title>Choose rune pages</title>
  <meta charset="utf-8">
  <meta name="author" content="Ryzzzen">
  <link rel="stylesheet" href="../../../views/assets/css/manaflux.css">
  <link rel="stylesheet" href="../../../views/assets/css/components/button.css">
  <link rel="stylesheet" href="../../../views/assets/css/components/settings.css">
  <link rel="stylesheet" href="../../../views/assets/css/components/status.css">
  <link rel="stylesheet" href="../../../views/assets/css/components/version.css">
  <link rel="stylesheet" href="../../../views/assets/css/components/input.css">
  <link rel="stylesheet" href="chooser.css">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>
<body style="background: linear-gradient(rgba(125, 185, 232, 0) -1%, rgba(50, 96, 122, 0) 65%, rgba(10, 49, 64, 0.8) 100%), url(./assets/img/themes/default-bg.jpg) no-repeat;">
  <img src="assets/img/warning.png" id="warning" draggable="false" style="display: none;">
  <div class="tab-container">
    <div class="controls">
      <button type="button" class="btn control" onclick="remote.getCurrentWindow().close();"><i class="material-icons icon">clear</i></button>
    </div>
  </div>
  <div class="content">
    <center>
      <h2 class="title" data-i18n="sidebar-rune-pages-chooser-title"></h2>
      <ul id="runes" class="sortable">
        <p style="color: rgba(230, 33, 66, 0.7);margin: 0 2px;">Loading</p>
      </ul>
    </center>
  </div>
  <script src="../../../views/vendor/jquery-3.3.1.min.js" onload="window.$ = window.jQuery = module.exports;"></script>
  <script>
    const { ipcRenderer, remote } = require('electron');
    const { dialog } = remote;

    ipcRenderer.on('perks', (event, d) => {
      console.dir(d);
    });

    window.eval = global.eval = function () { throw new Error(i18n.__('eval')) };
    require('../../../lib/crash-reporter');

    process.on('unhandledRejection', (reason, p) => console.log(3, `Unhandled rejection at: ${p}, reason: ${reason}`));
    process.on('uncaughtException', console.error);

    const log = new (require('../../../lib/handlers/LoggingHandler'))(3);
    global.i18n = new (require('../../../lib/i18n'));
  </script>
  <script src="../../../views/assets/js/ui.js"></script>
  <script src="../../../views/assets/js/ui/i18n.js"></script>
  <script src="../../../views/assets/js/ui/tab-handler.js"></script>
</body>
</html>
